In [1]:
#import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# datasetName = effects-of-covid-19-on-trade-at-15-december-2021-provisional.csv
df=pd.read_csv('dataset.csv')

In [3]:
print(df)

                                              ood manufactured goods  All  $  \
Imports   2021 16/01/2021 Saturday  All  Non-food manufactured goods  All  $
               17/01/2021 Sunday    All  Non-food manufactured goods  All  $
               18/01/2021 Monday    All  Non-food manufactured goods  All  $
               19/01/2021 Tuesday   All  Non-food manufactured goods  All  $
               20/01/2021 Wednesday All  Non-food manufactured goods  All  $
...                                                              ...  ... ..
Reimports 2021 11/12/2021 Saturday  All                          All  All  $
               12/12/2021 Sunday    All                          All  All  $
               13/12/2021 Monday    All                          All  All  $
               14/12/2021 Tuesday   All                          All  All  $
               15/12/2021 Wednesday All                          All  All  $

                                         200000000  1829000000
Imports   2021 16/01/2021 Saturday  All   26000000  1855000000
               17/01/2021 Sunday    All   30000000  1885000000
               18/01/2021 Monday    All  197000000  2082000000
               19/01/2021 Tuesday   All  195000000  2277000000
               20/01/2021 Wednesday All  155000000  2431000000
...                                            ...         ...
Reimports 2021 11/12/2021 Saturday  All          0   165000000
               12/12/2021 Sunday    All          0   165000000
               13/12/2021 Monday    All    2000000   166000000
               14/12/2021 Tuesday   All    1000000   167000000
               15/12/2021 Wednesday All    1000000   168000000

[680 rows x 5 columns]

In [4]:
df.describe()

          200000000    1829000000
count  6.800000e+02  6.800000e+02
mean   7.425147e+07  1.244509e+10
std    9.800598e+07  1.616584e+10
min    0.000000e+00  0.000000e+00
25%    0.000000e+00  8.075000e+07
50%    2.000000e+06  1.640000e+08
75%    1.762500e+08  2.369100e+10
max    3.960000e+08  5.217700e+10

In [5]:

df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 680 entries, ('Imports', 2021, '16/01/2021', 'Saturday', 'All') to ('Reimports', 2021, '15/12/2021', 'Wednesday', 'All')
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ood manufactured goods  680 non-null    object
 1   All                     680 non-null    object
 2   $                       680 non-null    object
 3   200000000               680 non-null    int64
 4   1829000000              680 non-null    int64
dtypes: int64(2), object(3)
memory usage: 28.5+ KB

In [6]:
#displays first five rows of the dataset
df.head()

                                            ood manufactured goods  All  $  \
Imports 2021 16/01/2021 Saturday  All  Non-food manufactured goods  All  $
             17/01/2021 Sunday    All  Non-food manufactured goods  All  $
             18/01/2021 Monday    All  Non-food manufactured goods  All  $
             19/01/2021 Tuesday   All  Non-food manufactured goods  All  $
             20/01/2021 Wednesday All  Non-food manufactured goods  All  $

                                       200000000  1829000000
Imports 2021 16/01/2021 Saturday  All   26000000  1855000000
             17/01/2021 Sunday    All   30000000  1885000000
             18/01/2021 Monday    All  197000000  2082000000
             19/01/2021 Tuesday   All  195000000  2277000000
             20/01/2021 Wednesday All  155000000  2431000000

In [7]:
#cleaning
df.isnull().sum()

ood manufactured goods    0
All                       0
$                         0
200000000                 0
1829000000                0
dtype: int64

In [8]:
#to replace missing values
data1=df.fillna(method="ffill")

In [9]:
#To check whether the valuies are replaced
data1.isnull().sum()

ood manufactured goods    0
All                       0
$                         0
200000000                 0
1829000000                0
dtype: int64

In [10]:
df.head()

                                            ood manufactured goods  All  $  \
Imports 2021 16/01/2021 Saturday  All  Non-food manufactured goods  All  $
             17/01/2021 Sunday    All  Non-food manufactured goods  All  $
             18/01/2021 Monday    All  Non-food manufactured goods  All  $
             19/01/2021 Tuesday   All  Non-food manufactured goods  All  $
             20/01/2021 Wednesday All  Non-food manufactured goods  All  $

                                       200000000  1829000000
Imports 2021 16/01/2021 Saturday  All   26000000  1855000000
             17/01/2021 Sunday    All   30000000  1885000000
             18/01/2021 Monday    All  197000000  2082000000
             19/01/2021 Tuesday   All  195000000  2277000000
             20/01/2021 Wednesday All  155000000  2431000000

In [11]:
#reduction

cols=['200000000','1829000000']
df = df.drop(cols, axis=1)

In [12]:
print(df)

                                              ood manufactured goods  All  $
Imports   2021 16/01/2021 Saturday  All  Non-food manufactured goods  All  $
               17/01/2021 Sunday    All  Non-food manufactured goods  All  $
               18/01/2021 Monday    All  Non-food manufactured goods  All  $
               19/01/2021 Tuesday   All  Non-food manufactured goods  All  $
               20/01/2021 Wednesday All  Non-food manufactured goods  All  $
...                                                              ...  ... ..
Reimports 2021 11/12/2021 Saturday  All                          All  All  $
               12/12/2021 Sunday    All                          All  All  $
               13/12/2021 Monday    All                          All  All  $
               14/12/2021 Tuesday   All                          All  All  $
               15/12/2021 Wednesday All                          All  All  $

[680 rows x 3 columns]

In [13]:
#Transformation

data1.head()

                                            ood manufactured goods  All  $  \
Imports 2021 16/01/2021 Saturday  All  Non-food manufactured goods  All  $
             17/01/2021 Sunday    All  Non-food manufactured goods  All  $
             18/01/2021 Monday    All  Non-food manufactured goods  All  $
             19/01/2021 Tuesday   All  Non-food manufactured goods  All  $
             20/01/2021 Wednesday All  Non-food manufactured goods  All  $

                                       200000000  1829000000
Imports 2021 16/01/2021 Saturday  All   26000000  1855000000
             17/01/2021 Sunday    All   30000000  1885000000
             18/01/2021 Monday    All  197000000  2082000000
             19/01/2021 Tuesday   All  195000000  2277000000
             20/01/2021 Wednesday All  155000000  2431000000

In [14]:
dummy=pd.get_dummies(data1['All'])

In [15]:
dummy

                                         All
Imports   2021 16/01/2021 Saturday  All    1
               17/01/2021 Sunday    All    1
               18/01/2021 Monday    All    1
               19/01/2021 Tuesday   All    1
               20/01/2021 Wednesday All    1
...                                      ...
Reimports 2021 11/12/2021 Saturday  All    1
               12/12/2021 Sunday    All    1
               13/12/2021 Monday    All    1
               14/12/2021 Tuesday   All    1
               15/12/2021 Wednesday All    1

[680 rows x 1 columns]

In [16]:
data2=pd.concat((data1,dummy),axis=1)

In [17]:
data2=data2.drop(['All'],axis=1)

In [18]:
data2.head()

                                            ood manufactured goods  $  \
Imports 2021 16/01/2021 Saturday  All  Non-food manufactured goods  $
             17/01/2021 Sunday    All  Non-food manufactured goods  $
             18/01/2021 Monday    All  Non-food manufactured goods  $
             19/01/2021 Tuesday   All  Non-food manufactured goods  $
             20/01/2021 Wednesday All  Non-food manufactured goods  $

                                       200000000  1829000000
Imports 2021 16/01/2021 Saturday  All   26000000  1855000000
             17/01/2021 Sunday    All   30000000  1885000000
             18/01/2021 Monday    All  197000000  2082000000
             19/01/2021 Tuesday   All  195000000  2277000000
             20/01/2021 Wednesday All  155000000  2431000000

In [19]:
# To plot histogram
df.hist()

<class 'ValueError'>: hist method requires numerical or datetime columns, nothing to plot.